.footer {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //@include flexgenerator(row, space-between, center);
    padding: 20px 10px;
    background-color: black;

    &-logo {
        cursor: pointer;
        /*cambia el puntero por una mano*/
        height: 70px;
    }

    &-links {
        list-style: none;
    }

    &-firma {
        padding: 0;
        margin: 0;
        height: 20px;
    
        &-imagen {
            padding: 0;
        }
    }
}







